@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import Poppins font family from google */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import Inria Sans font family from google */

@keyframes navigate-text{from {color:rgba(26, 115, 249, 1.0)}
to {color: rgba(255, 3, 12, 1.0);}}
nav a:hover {animation-name: navigate-text;
animation-duration:2s; 
animation-iteration-count: infinite; 
animation-timing-function: ease-in;}
/* Simple text color animation for nav bar */

nav {display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: safe;
    align-items: center;
    text-align: center;
    background-color: rgba(199 , 250, 252, 0.94);
    height: 50px;
    z-index: 999;}
ul { position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: safe;
    background-color: rgba(199 , 250, 252, 0.94);
    width: 100%;
    }
li {list-style-type: none; font-family: "Poppins", sans-serif; padding: 12px; margin: 10px; list-style-type: none; list-style-image: url(football_logo.png); justify-content: safe;}
/* Positions nav bar appropriately at top of page */
a {text-decoration: none; color: rgba(26, 115, 249, 1.0);}
/* Removes underline from nav bars */
a:visited{color: rgba(26, 115, 249, 1.0);}   
/* visited psuedoclass so links don't turn purple  */

h1{display: flex;
    margin: 10px;
    position:relative;
    padding-top: 75px;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
font-family: "Poppins", sans-serif}
h3 {display: flex;
    position: relative;
    padding-bottom: 5px;
    margin: 0;
    font-size: 30px;
    font-weight: 650;
    font-family: "Inria Sans", sans-serif;
    }
/* Appropriately positions and formats h1 and h3 headers */
body{background-color: lightcoral; width: 100%;}
/* Creates lightcoral background color for form */
legend{font-family: "Inria Sans", sans-serif;
font-size: 27px;
display: flex;
text-align: center;
font-weight: 550;}
/* Appropriately formats legend headers in form */

label{font-family: "Inria Sans", sans-serif;
font-size: 22px;}
/* Styling for form labels */

input[type=text] {font-family: "Inria Sans", sans-serif;
font-size: 16px;
background-color: lightcyan;
box-shadow: none;
border-radius: 6px;}
input[type=email] {font-family: "Inria Sans", sans-serif;
font-size: 16px;
background-color: lightcyan;
box-shadow: none;
border-radius: 6px;}
input[type=tel] {font-family: "Inria Sans", sans-serif;
font-size: 16px;
background-color: lightcyan;
box-shadow: none;
border-radius: 6px;}
textarea {font-family: "Inria Sans", sans-serif;
font-size: 16px;
background-color: lightcyan;
box-shadow: none;
border-radius: 6px;}
/* Styling for all typed inputs */

::placeholder{font-family: "Inria Sans", sans-serif;
font-size:16px}
/* Styling for placeholders */

select{background-color: rgba(253, 148, 39, 0.72);
border-radius: 8px;}
/* Style select drop down box */

input[type=submit] {border-radius: 8px;background-color: rgba(253, 148, 39, 0.72); transition: background-color 0.8s ease-in-out}
input[type=reset] {border-radius: 8px; background-color: rgba(253, 148, 39, 0.72); transition: background-color 0.8s ease-in-out}
/* Style submit and reset with transition effects */
select:focus {background-color: rgba(201, 97, 251, 0.62);}
input[type=submit]:hover {background-color: rgba(20, 241, 49, 0.75);}
input[type=reset]:hover {background-color: rgba(20, 241, 49, 0.75);}
/* psuedoclasses for interactivity with select buttons and select dropdown menu */

h4{font-size: 26px;
font-family: "Inria Sans", sans-serif;
font-weight: 520;}

p {font-size: 20px;
font-family: "Inria Sans", sans-serif;}
/* Styles typography for social media content */

script {display: flex;
position: relative;
justify-content: center;
align-self: center;
align-items: center;}
div[class="badge-base LI-profile-badge"] {display: flex;
position: relative;
justify-content: center;
align-self: center;
align-items: center;
}
/* Attempts to position linkedin badge */
p a {font-size: 20px;
font-family: "Inria Sans", sans-serif;}
/* Style github link */

@media screen and (max-width: 600px) {
    nav, ul {float: none;
    width: 100%;
flex-direction: column;
height: auto;
position: relative}
footer{float: none;
    width: 100%;
flex-direction: column;
height: auto;
position: relative}
img{max-width: 100%;}
fieldset, textarea, input[type=text], input[type=tel], input[type=email], select{width: 100%;}
}
/* Responsive for mobile devices */